<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhangwy.integral">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".IApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5cd7d2743fc1952293000a61" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_VALUE}" />
        <meta-data
            android:name="PGYER_APPID"
            android:value="b345a6a954d01c9598c540b8f22ae352" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectImageActivity"
            android:label="@string/select_image_label"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".MemberActivity"
            android:label="@string/page_title_member" />
        <activity android:name=".IntegralUseActivity" />
        <activity android:name=".AddressActivity" />
        <activity android:name=".AddressesActivity" />
        <activity android:name=".IntegralsActivity" />
        <activity android:name=".IntegralAddActivity" />
        <activity android:name=".IntegralElementActivity" />
        <activity android:name=".BookingElementActivity" />
        <activity android:name=".CouponsActivity" />
        <activity android:name=".CouponsGrantActivity" android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".CouponsConfigActivity" />
        <activity android:name=".CouponsNearOverdueActivity" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".BookingInfoActivity" />

        <activity android:name=".wxapi.WXEntryActivity" />
        <activity android:name=".wxapi.WXPayEntryActivity" />

        <receiver android:name="com.zhangwy.upgrade.UpgradeBroadcastReceiver" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zhangwy.integral.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>